@import '../../../../assets/scss/main';

.time-slot-wrapper {
  height: 50px;
  width: 120px;
  border: 1px solid $alto;
  box-sizing: border-box;
  transition: 0.5s;
}

.time-slot-wrapper.empty-slot {
  background-color: $white;
}

.time-slot-wrapper.unavailable-slot {
  background-color: $gallery;
}

.time-slot-wrapper.disable-time-slot {
  opacity: 0.6;
}

// ******************** available time slot ********************* //
.time-slot-wrapper {
  .available-time-slot-wrapper {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: $white;
  }

  .available-time-slot-wrapper:hover {
    cursor: pointer;
    transition: ease-out 100ms;
    background-color: rgba($bondiBlue, 0.12);
    border: dashed 2px $bondiBlue;
  }
}

// ******************** available time slot ********************* //

// ******************** lesson-item ********************* //
.time-slot-wrapper {

  .lesson-item-wrapper {
    height: 40px;
    width: 99px;
    box-sizing: border-box;
    display: flex;
    position: relative;

    .lesson-details div {
      color: $white;
      width: 60px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 2px 0;
    }

    .service-icon {
      width: 32px;
      height: 41px;
    }
  }

  .lesson-item-wrapper.math {
    background-color: $kimberly;
  }

  .lesson-item-wrapper.english {
    background-color: $gimblet;
  }

  .lesson-item-wrapper {
    .future-text {
      width: calc(100% - 10px);
      height: 15px;
      text-align: center;
      line-height: 15px;
      border: 1px solid $rollingStone;
      left: 50%;
      top: -7px;
      transform: translate(-50%, 0);
      background-color: $mercury;
      position: absolute;
      border-radius: 10px;
    }

    .lesson-details {
      display: flex;
      align-items: center;

      .educator-name {
        display: none;
      }
    }
  }

}

// ******************** lesson-item ********************* //


// ******************** initial-schedule-lesson-item ********************* //
.time-slot-wrapper {
  .initial-schedule-lesson-item-wrapper {
    height: 40px;
    width: 99px;
    box-sizing: border-box;
    display: flex;
    position: relative;

    .remove-lesson-icon {
      position: absolute;
      top: -3px;
      right: 1px;
      cursor: pointer;
      display: none;
    }

    &:hover .remove-lesson-icon {
      display: block;
    }

    .lesson-details {
      display: flex;
      align-items: center;
      div {
        color: $white;
        width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 2px 0;
      }
    }

    .service-icon {
      width: 32px;
      height: 41px;
    }

    .future-text {
      width: calc(100% - 22px);
      height: 15px;
      text-align: center;
      line-height: 15px;
      border: 1px solid $rollingStone;
      left: 50%;
      top: -7px;
      transform: translate(-50%, 0);
      background-color: $mercury;
      position: absolute;
      border-radius: 10px;
    }
  }

  .initial-schedule-lesson-item-wrapper.math {
    background-color: $kimberly;
  }

  .initial-schedule-lesson-item-wrapper.english {
    background-color: $gimblet;
  }

  &.disable-time-slot .initial-schedule-lesson-item-wrapper{
      pointer-events: none;
  }
}
// ******************** initial-schedule-lesson-item ********************* //
