@import '../../../../assets/scss/main';

.time-slot-wrapper {
  height: 50px;
  width: 120px;
  border: 1px solid $alto;
  box-sizing: border-box;
  transition: 0.5s;
}

.time-slot-wrapper.empty-slot {
  background-color: $white;
}

.time-slot-wrapper.unavailable-slot {
  background-color: $gallery;
}

.time-slot-wrapper.disable-time-slot {
  opacity: 0.6;
}

.time-slot-wrapper {
  .available-time-slot {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: $white;
  }

  .unavailable-time-slot{
    @include text-style(17px, $kimberlyDark, Lato, $normalFontWeight);

  }

  .available-time-slot-wrapper:hover {
    cursor: pointer;
    transition: ease-out 100ms;
    background-color: rgba($bondiBlue, 0.12);
    border: dashed 2px $bondiBlue;
  }
}

.schedule-data{
  @include text-style(17px, $kimberlyDark, Lato, $normalFontWeight);
  background-color: $clearDay;
  height: 50px;
}
