<div class="time-slot-wrapper"
     [ngClass]="[timeSlotData.dynamicDefaultView.timeSlotClass, timeSlotData.classToAdd ? timeSlotData.classToAdd : '']">


  <!--<div style="font-size: 12px;">{{timeSlotData.date || ' '}}</div>-->
  <!--<div style="font-size: 14px;">{{timeSlotData.hour || ' '}}</div>-->

  <div *ngIf="timeSlotData.metaData.view" [@flyInOut]="'in'">
    <div [ngSwitch]="timeSlotData.metaData.view">


      <div *ngSwitchCase="TIME_SLOT_VIEWS.AVAILABLE_TIME_SLOT_VIEW"
           class="available-time-slot-wrapper"
           (click)="availableSlotClick()">
        {{timeSlotData.date}}
      </div>

      <div *ngSwitchCase="TIME_SLOT_VIEWS.SCHEDULE">
        {{timeSlotData.data}}
      </div>

    </div>
  </div>
</div>


