@import '../../scss/main';

.scheduler-adapter-container {
  display: flex;
  margin: 45px 40px;
  width: 1260px;

  .scheduler-operation-pan {
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    .show-schedules-btn {
      @include dimension(150px, 30px);
      @include text-style(16px, $white);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $ABC;
      border: 1px solid $nobel;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $portage;
      }

      &:active {
        opacity: 0.7;
      }
    }

    .items-to-schedule {
      @include dimension(270px, 450px);
      display: flex;
      flex-direction: column;
      border: 1px solid $manatee;
      margin-top: 25px;
      margin-right: 40px;
      background-color: $white;

      .items-to-schedule-title {
        @include text-style(21px, $white, Lato);
        background-color: $ABC;
        height: 35px;
        text-align: center;
        padding-top: 8px;
      }

      .scroll-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: auto;
        height: 410px;
        padding-bottom: 10px;
        background-color: #b3c7fb;
        box-sizing: border-box;

        .item-to-schedule {
          @include text-style(18px, $ABC, Lato);
          @include dimension(110px, 50px);
          margin: 30px 0;
          background-color: $white;
          color: $ABC;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
          cursor: pointer;
          transition: 0.2s;
          box-sizing: border-box;
          position: relative;
          text-align: center;

          &:hover {
            background-color: $silver;
          }

          &:active {
            opacity: 0.4;
          }

          &.selectedItem {
            transition: 0.1s;
            border: 3px solid;
            animation:0.3s rotateAnimation ease infinite;
            box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
            background-color: $portafino;
          }
        }
      }
    }
  }

  .scheduler-component {
    position: relative;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
    left:1px;
  }
  25% {
    transform: rotate(4deg);
    top:1px;
  }
  50%{
    transform: rotate(0deg);
    top:0;
    left:-1px;
  }
  75%{
    transform: rotate(-4deg);
    top:-1px;
    left:0;
  }
}
