<div class="input-with-error-component" [ngClass]="validationStatus.isValid ? '' : 'invalid'">

	<div *ngIf="!svg && !hideSymbol && validationStatus.isValid" class="input-symbol">{{symbol}}</div>

	<app-svg-icon *ngIf="svg && !hideSymbol && validationStatus.isValid" class="input-symbol" [svg]="svg"></app-svg-icon>

	<div class="triangle-error" *ngIf="!validationStatus.isValid && !isDisabled" app-tooltip [tooltipTitle]="tooltipText ? tooltipText : 'Please note, this is a required field'">!</div>

	<input class="input-with-error hb-input"
				 [ngClass]="cssClasses"
		     appEllipseDetector
	       [disabled]="isDisabled"
				 [(ngModel)]="inputValue"
				 (ngModelChange)="ngModelChange()"
				 (keypress)="keyPressHandler($event)"
	       (paste)="pasteHandler()"
				 (blur)="validate(true)"/>
</div>