@import "../../../style/shared";


.input-with-error-component {
	box-sizing: border-box;
	position: relative;
	width: 100%;

	.input-symbol {
		@include position(absolute, 10px, 10px, null, null, 3);
		pointer-events: none;
		text-align: right;
		width: 40px;
		z-index: 3;
	}

	&.invalid .input-with-error {
		background-color: $color42;
		border: 1px solid red;
		z-index: 2;
	}

	.input-with-error {
		@include text-overflow-ellipsis();
		padding-right: 30px;
		width: 100%;

		&:focus {
			outline: none;
		}
	}

	.triangle-error {
		z-index: 3;
		right: 15px;
	}
}
