@import "shared";

.modal-container {
  @include position(absolute, 0, null, null, 0, 1300);
  @include dimension(100%, 100%);

  .modal-overlay {
    @include position(absolute, 0, null, null, 0, 1300);
    @include dimension(100%, 100%);
    background: rgba(0, 0, 0, .288);
    transition: 2.5s;
  }

  .component-wrapper {
    @include position(absolute, 50%, null, null, 50%, 1313);
    @include flex(center, center);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    background-color: $white;

    .close-modal {
      @include position(absolute, -25px, -25px, null, null, 1314);
      cursor: pointer;
      color: $white;
    }
  }

  .modal-close-button {
    position: absolute;
    top: -30px;
    right: -20px;
    .button {
    }
  }
}

.modal-container.animate-closing {
  @include dimension(10%, 10%);
  overflow: hidden;
  opacity: 0.5;

  .modal-overlay {
    background: rgba(0, 0, 0, 0);
  }
}

.modal-container.closed {
  @include dimension(0, 0);
}

