@import "shared-colors";

@mixin text-style($size: null,$color: null,$family: null,$weight: null,$letter-spacing:null,$text-transform: null, $style: null, $align: null) {
  @if ($size) {
    font-size: $size;
  }

  @if ($color) {
    color: $color;
  }

  @if ($family) {
    font-family: $family, sans-serif;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }

  @if $text-transform {
    text-transform: $text-transform;
  }

  @if $style {
    font-style: $style;
  }

  @if $align {
    text-align: $align;
  }
}

@mixin dimension($width, $height: null) {
  width: $width;

  @if $height == null {
    height: $width;
  } @else {
    height: $height;
  }
}

@mixin transform($transform: null) {
  @if $transform {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
  }
}


@mixin flex($justify-content: null, $align-items: null) {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  @if $justify-content {
    -webkit-box-pack: $justify-content;
    -moz-box-pack: $justify-content;
    -ms-flex-pack: $justify-content;
    -webkit-justify-content: $justify-content;
    justify-content: $justify-content;
  }

  @if $align-items {
    align-items: $align-items;
    -webkit-box-align: $align-items;
    -moz-box-align: $align-items;
    -ms-flex-line-pack: $align-items;
    -webkit-align-content: $align-items;
    align-content: $align-items;
  }
}

@mixin flex-item($flex: null) {
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;         /* OLD - Firefox 19- */
  -webkit-flex: 1;          /* Chrome */
  -ms-flex: 1;              /* IE 10 */
  flex: 1;

  @if $flex {
    -webkit-box-flex: $flex;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: $flex;         /* OLD - Firefox 19- */
    -webkit-flex: $flex;          /* Chrome */
    -ms-flex: $flex;              /* IE 10 */
    flex: $flex;
  }
}

@mixin flex-direction($direction: null) {
  flex-direction: $direction;
  -webkit-box-direction: $direction;
  -moz-box-direction: $direction;
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
}


@mixin position($position, $top: null, $right: null, $left: null, $bottom: null, $z-index: null) {
  position: $position;

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $left {
    bottom: $left;
  }

  @if $bottom {
    left: $bottom;
  }

  @if $z-index {
    z-index: $z-index;
  }
}

@mixin user-select($val){
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin hb-button($bg-color, $text-color, $border-color) {
  @include text-style(18px, $text-color);
  @include dimension(auto, 40px);
  @include flex(center, center);
  border: 1px solid $border-color;
  background-color: $bg-color;
  text-overflow: ellipsis;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 3px;
  overflow: hidden;
  padding: 0 16px;
  cursor: pointer;
  outline: none;
}
