$white: #ffffff;
$mercury: #e1e1e1;
$gallery: #ebebeb;
$botticelli: #c7e0e3;
$alabaster: #f7f7f7;
$concreteSolid: #f2f2f2;
$catskillWhite: #e2f0f2;
$hintOfRed: #fbfafb;
$clearDay: #FAFFFD;
$alto: #dfdfdf;
$athensGray: #efeff5;
$iceberg: #e0f3f5;
$heather: #c3c9d8;
$silver: #c2c2c2;
$wildSand: #F5F5F5;
$cadetBlue: #ACB2BF;
$nobel: #b7b7b7;
$silverChalice: #acacac;
$manatee: #95959C;
$rollingStone: #757a83;
$doveGray: #626262;
$emperor: #4f4d4d;
$darkBrown: #3a3a3a;
$minehaft: #363636;
$codeGray: #161616;
$black: #000;
$bondiBlue: #0a9bad;
$lochinvar: #2C808A;
$bittersweet: #ff6766;
$mandy: #E55958;
$roofTerracotta: #B33520;
$red: #FF0000;
$sunsetOrange: #FD4B4B;
$chestnutRose: #D15855;
$kimberly: #797ea8;
$kimberlyDark: #6a6f95;
$seagull: #75cbe8;
$catskillWhite: #E3ECF2;
$bermuda: #80cdd6;
$downy: #78CAD3;
$malibu: #70A8FB;
$portage: #77A2E9;
$cornflowerBlue: #6195ED;
$ABC: #688ae4;
$blueRibbon: #2244F5;
$electricViolet: #4F32FF;
$sanMarino: #3F749D;
$periwinkleGray: #CBDEEC;
$lynch: #5E7C8C;
$blueChill: #0a8999;
$blueLagoon: #037684;
$jellyBean: #256485;
$stTropaz: #285A84;
$veniceBlue: #055885;
$blumine: #1D5471;
$tarawera: #0B4260;
$halfBaked: #81c4cc;
$portafino: #FFFFB2;
$gimblet: #bcae6b;
$arleyCorn: #a6995e;
$goldTips: #DBB910;
$candlelight: #f9d41b;
$gossip: #BDF9A4;
$conifer: #90EC42;
$mantis: #87ca4d;
$sushi: #76B63E;
$apple: #659938;
$oliveDrab: #619E2D;
$feijoa: #AED88A;
$malachite: #08D822;
$mountainMeadow: #22D470;
