$white: #ffffff;
$mercury: #e1e1e1;
$gallery: #ebebeb;
$botticelli: #c7e0e3;
$alabaster: #f7f7f7;
$concreteSolid: #f2f2f2;
$catskillWhite: #e2f0f2;
$hintOfRed: #fbfafb;
$clearDay: #FAFFFD;
$alto: #dfdfdf;
$athensGray: #efeff5;
$iceberg: #e0f3f5;
$silver: #c2c2c2;
$nobel: #b7b7b7;
$silverChalice: #acacac;
$manatee: #95959C;
$rollingStone: #757a83;
$emperor: #4f4d4d;
$minehaft: #363636;
$codeGray: #161616;
$bondiBlue: #0a9bad;
$lochinvar: #2C808A;
$bittersweet: #ff6766;
$mandy: #E55958;
$roofTerracotta: #B33520;
$kimberly: #797ea8;
$kimberlyDark: #6a6f95;
$seagull: #75cbe8;
$bermuda: #80cdd6;
$downy: #78CAD3;
$ABC: #688ae4;
$cornflowerBlue: #6195ED;
$portage: #77A2E9;
$blueChill: #0a8999;
$blueLagoon: #037684;
$halfBaked: #81c4cc;
$gimblet: #bcae6b;
$arleyCorn: #a6995e;
$goldTips: #DBB910;
$candlelight: #f9d41b;
$portafino: #FFFFB2;
$conifer: #90EC42;
$mantis: #87ca4d;
$sushi: #76B63E;
$apple: #659938;
$oliveDrab: #619E2D;
$feijoa: #AED88A;
$malachite: #08D822;
