@import './colors';

.znk-scrollbar {
  ::-webkit-scrollbar,
  &::-webkit-scrollbar {
    height: 20px;
    width: 7px;
    background-color: $hintOfRed;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-color: $gallery;
    -webkit-border-radius: 1ex;
  }
};
