@import "shared";

$inputWidth: 100%;

.input-wrapper {
  width: $inputWidth;
  position: relative;

  .search-icon, .round-search-icon {
    @include position(absolute, 11px, 11px);

    svg {
      @include dimension(15px, 15px);
    }
  }

  .auto-suggest-results-wrapper {
    @include position(absolute, 35px, null, null, 0);
  }

  .input {
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    height: 36px;
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    border: 1px solid #c3c9d8;
    width: $inputWidth;
    background-color: #fcfcfc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }
  }

  &.invalid input {
    border: 1px solid red;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
