@import '../../../scss/main';

.multi-date-picker {
  @include dimension(755px, auto);
  padding: 10px;
  border: 1px solid $doveGray;
  margin: 20px auto 0 auto;
  background-color: white;

  .controls {
    @include flex(space-between);

    .controls-left {
      .input-from, .input-to {
        @include dimension(230px, 27px);
        @include text-style(16px, $alto);
        padding-left: 10px;
      }

      .input-from {
        margin-right: 10px;
      }
    }

    .controls-right {
      @include flex();

      .cancel-btn {
        @include flex(center, center);
      }

      .previous-month, .next-month {
        @include dimension(35px, 35px);
        @include flex(center, center);
        border: 1px solid $silverChalice;
      }

      .previous-month {
        border-right: none;
        border-radius: 3px 0 0 3px;
      }

      .next-month {
        border-radius: 0 3px 3px 0;
      }

      .icon-angle-left, .icon-angle-right {
        @include text-style(30px, $cadetBlue);
      }

      .cancel-btn {
        @include dimension(35px, 35px);
        @include flex(center, center);
        margin-right: 10px;
        border: 1px solid $silverChalice;
        border-radius: 3px;

        .icon-cancel-1 {
          @include dimension(21px, 20px);
          @include flex(center, center);
          @include text-style(15px, $white);
          background-color: $stTropaz;
          border-radius: 100%;
        }
      }
    }
  }

  .date-range-pickers-wrapper {
    @include flex();
    margin-top: 10px;

    app-calendar-date-range-picker:first-child .calendar-date-range-picker,
    app-calendar-date-range-picker:nth-child(2) .calendar-date-range-picker {
      border-right: none;
    }
  }

  .controls-bottom {
    @include dimension(100%);
    @include flex();
    flex-direction: row-reverse;
    margin-top: 10px;

    .select-btn {
      @include dimension(85px, 37px);
      @include flex(center, center);
      border-radius: 3px;
      background-color: $veniceBlue;
      color: $white;
    }
  }
}
