<div class="contract-loading-information page-section">

	<div class="title">Loading Information&nbsp;<span class="lite">(For internal use only)</span></div>

	<div class="contract-details-form">

		<div class="search-column search-column-1">
			<div class="type">
				<div class="search-label">Type</div>
				<div class="search-field">
					<app-select-input
						[selectList]="typeOptions"
						(onSelectItem)="onSelectOption($event, 'renewalType')"
						[optionsType]="OPTIONS_TYPES.regular"
						[tabIndex]="21">
					</app-select-input>
				</div>
			</div>
		</div>

		<div class="search-column search-column-2">
			<div class="child-ages">
				<div class="child-age">
					<div class="search-label-with-tooltip">
						<div class="search-label">
							<span class="child-age-text">Child Age</span>
							<app-svg-icon class="cursor-pointer"
							              app-tooltip [tooltipTitle]="childTooltipText"
							              [svg]="SVG_ICONS.info">
							</app-svg-icon>
						</div>
					</div>
					<div class="search-field">
						<app-select-input
							[validationStatus$]="contractFromAgeStatus$"
							[selectList]="fromAgeOptions"
							(onSelectItem)="onSelectOption($event, 'minimumAge')"
							[componentInputs]="{ withEmptyOption: isWithEmptyOption('minimumAge')}"
							[optionsType]="OPTIONS_TYPES.regular"
							(optionsClosed)="oneContractService.onOptionsClosedRequiredValidation(contractFromAgeStatus$, contractLoadingInformationService.contractLoadingInformationParams.childAges, 'minimumAge')"
							[tabIndex]="22">
						</app-select-input>
					</div>
				</div>
				<div class="child-ages-separator">-</div>
				<div class="child-age second">
					<div class="search-field">
						<app-select-input
							[validationStatus$]="contractToAgeStatus$"
							[selectList]="toAgeOptions"
							(onSelectItem)="onSelectOption($event, 'maximumAge')"
							[componentInputs]="{ withEmptyOption: isWithEmptyOption('maximumAge')}"
							[optionsType]="OPTIONS_TYPES.regular"
							(optionsClosed)="oneContractService.onOptionsClosedRequiredValidation(contractToAgeStatus$, contractLoadingInformationService.contractLoadingInformationParams.childAges, 'maximumAge')"
							[tabIndex]="23">
						</app-select-input>
					</div>
				</div>
			</div>
		</div>

		<div class="search-column search-column-3">
			<div class="atlas-supplier-name-field">
				<div class="atlas-supplier-name">
					<div class="search-label">Atlas Supplier Name</div>
					<div class="search-field">
						<input type="text"
						       class="hb-input atlas-supplier-name-input"
						       [(ngModel)]="contractLoadingInformationService.contractLoadingInformationParams.supplier.name"
						       [fontSize]="16"
						       tabindex="24"
						       appEllipseDetector/>
					</div>
				</div>
			</div>
		</div>

		<div class="search-column search-column-4">
			<div class="contract-short-name-and-client-distribution-type">
				<div class="contact-short-name-field">
					<div class="search-label">Contract Short Name</div>
					<div class="search-field">
						<input type="text"
						       class="hb-input contact-short-name-input"
						       [(ngModel)]="contractLoadingInformationService.contractLoadingInformationParams.name"
						       [fontSize]="16"
						       tabindex="25"
						       appEllipseDetector/>
					</div>
				</div>
				<div class="client-dist-type">
					<div class="search-label">Client Distribution Type</div>
					<div class="search-field">
						<app-select-input
							[selectList]="clientDistributionTypeOptions"
							[componentInputs]="{ withEmptyOption: contractLoadingInformationService.contractLoadingInformationParams.clientDistributionType}"
							(onSelectItem)="onSelectOption($event, 'clientDistributionType')"
							[tabIndex]="26">
						</app-select-input>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>