@import "shared";

:host {
  width: 100%;
}

.scroll-able-sub-menu {
  max-height: 60vh;
  overflow-y: auto;

  .sub-menu-item {
    @include flex(start);
    .sub-menu-columns-container {
      border-right: 1px dashed $botticelli;
      padding: 0 20px;

      .sub-menu-title {
        padding-bottom: 10px;
        padding-left: 22px;
      }

      &:last-child {
        border-right: none;
      }

      .sub-menu-category {
        @include flex();
        @include text-style(13px, $sanMarino);
        font-family: 'Roboto', sans-serif !important;
        text-decoration: underline;
        cursor: pointer;
        padding-bottom: 6px;

        .favorite-div {
          @include dimension(22px);
          cursor: pointer;
        }

        .favorite-div:not(.show-favorite) {
          img {
            display: none;
          }
        }

        &:hover {
          color: $chestnutRose;
          .favorite-div:not(.show-favorite) {
            img {
              display: block;
              content: url(../../../../../assets/icons/images/favorites_off.jpg);
            }
          }
        }

        .column-name {
          flex: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .scroll-able-sub-menu {
    margin-top: 20px;

    .sub-menu-item {
      margin-top: 10px;

      .sub-menu-columns-container {

        &:first-child {
          padding-left: 0;
        }

        .sub-menu-title {
          font-size: 13px;
        }

        .sub-menu-category {
          font-size: 12px;
        }
      }
    }
  }
}
