@import "~shared-ui-components-lib/style/shared";

.contract-details-modal {
	@include dimension(1000px, 490px);
	position: relative;
	box-sizing: border-box;
	padding: 40px 74px;

	.button-with-loader {
		border: 0;
	}

	.contract-details-header {
		@include flex(null, center);
		padding-bottom: 3px;

		app-svg-icon {
			margin-left: 10px;
			padding-top: 5px;
		}

		.title {
			@include text-style(24px, $color16);
		}

		border-bottom: 1px solid $color27;
	}

	.contract-details-content {
		margin-top: 10px;
		padding: 13px 15px 0 0;
		width: 864px;
		height: 330px;
		overflow-y: auto;

		.details {
			@include flex(null, center);
			border-bottom: 1px solid $color27;
			margin-bottom: 9px;
			padding-bottom: 9px;

			app-svg-icon.contract-icon {
				margin-right: 15px;
				padding-top: 5px;

				svg.contract-icon {
					@include dimension(55px, 55px);

					rect, path, circle {
						fill: $color26;
					}
				}
			}

			.button-with-loader {
				width: 140px;
				padding-right: 27px;

				svg polygon {
					fill: $white;
				}
			}

			.id-name-currency, .dates {
				@include flex();
				.contract-text, .hotel-text {
					padding-right: 3px;
				}
			}

			.id-name-currency {
				width: 607px;
				margin-right: 35px;
				font-weight: 700;
				margin-bottom: 2px;
				font-size: 17px;
			}

			.dates {
				font-size: 15px;
				font-weight: 500;
				margin-bottom: 2px;
				.dates-text {
					padding-right: 3px;
				}
			}

			.description {
				font-size: 15px;
				font-weight: 400;
				color: $color26;
			}
		}
	}

	.no-contract-details {
		@include text-style(24px, $color1);
		padding-top: 100px;
		text-align: center;

		svg.contract-icon {
			@include dimension(130px, 130px);

			rect, path, circle {
				fill: $color1;
			}
		}
	}

	.technical-error {
		@include flex(center, center);
		@include dimension(100%);

		.error-content {
			width: 100%;
			text-align: center;

			.triangle-error-icon {

			}

			.error-title {
				@include text-style(24px, $color1);
				margin-bottom: 10px;
			}

			.error-message {
			}
		}
	}
}

.import-error-tooltip {
	width: 450px;
}
