@import '../../../../scss/main';

.simple-time-slot-container{
  @include dimension(118px, 48px);
  position: absolute;
  top: 0;

  .title{
    @include text-style(16px,$white,Lato);
    line-height: 14px;
    margin: 8px;
    width: 85px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .date{
    @include text-style(12px,$white,Lato);
    margin-left: 8px;
  }
}
