<div class="chat-board-wrapper">
  <div class="chat-board-header">
    <!--<svg-icon name="znk-chat-close-icon" ng-click="d.closeChat()"></svg-icon>-->
  </div>
  <div class="board-wrapper">
    <div class="messages-container">
      <div class="messages-wrapper znk-scrollbar">
        <!--orderBy:'time'-->
        <div class="message-repeater" *ngFor="let message of activeChat.messages">
          <app-chat-message [localUser]="localUser" [message]="message"></app-chat-message>
        </div>
      </div>
    </div>

    <textarea (keypress)="keyPressHandler($event.keyCode)" [(ngModel)]="message" class="chat-textarea"></textarea>
  </div>
</div>
