@import "shared";

.select-input {
  @include flex(space-between, center);
  @include dimension(100%, 36px);
  padding: 0 6px 0 9px;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
  border: 1px solid $color1;
  background-color: white;
  margin-right: 5px;
  box-shadow: inset 0 0 1px 1px $white;
  position: relative;
  color: black;
  
  .triangle-error {
    display: none;
  }

  &.invalid {
    background-color: $color42;
    border: 1px solid red;
    .triangle-error {
      @include dimension(0, 0);
      @include flex(center);
      @include position(absolute, 10px, 30px);
      position: absolute;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 17px solid $color43;
      content: '!';
      color: $white;
      line-height: 19px;
      font-size: 13px;
    }
  }

  .title {
    width: 100%;
    font-size: 16px;
  }

  .arrowDown {
    margin-right: 4px;
    margin-top: 4px;
  }

  .options-wrapper {
    @include position(absolute, 34px, null, null, 0, 14);
    box-shadow: 2px 2px 2px -2px $color2;
    border: 1px solid $color1;
    border-radius: 3px;
    max-height: 350px;
    overflow-y: auto;
    width: 100%;
    opacity: 0;
    min-width: 100%;
  }
}

.modal-container.select-options-modal {
  background: none;
  overflow: hidden;

  .modal-overlay {
    background-color: transparent;
  }

  .component-wrapper {
    @include dimension(268px, auto);
    @include transform(none);
    opacity: 0;
    display: block;
    box-shadow: 2px 2px 2px -2px $color2;
    border: 1px solid $color1;
    border-radius: 3px;
  }

  .modal-close-button {
    @include position(absolute, 0,0);
    width: 30px;

    .button {
      padding: 10px;
      float: right;
    }
  }
}

.select-input.is-disabled {
  background-color: $color27;
	border-color: $color27;
	pointer-events: none;
}