@import "shared";

.menu-item {
  @include dimension(1000px, auto);
  @include position(absolute, 0, null, null, 0);
  @include flex();
  border: 1px solid $color67;
  border-top: none;
  background-color: $white;
  box-shadow: 0 1px 3px 0 $color38;
  padding: 20px;
  box-sizing: border-box;

  &.hidden {
    display: none;
  }

  .top-triangle {
    @include dimension(0, 0);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid $white;
    position: absolute;
    top: -15px;
    transition: 0.5s;
  }

  .menu-item-categories-container {
    @include dimension(220px, auto);
    background-color: $color65;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 200px;
    padding: 10px;
    box-sizing: border-box;

    .menu-item-category {
      @include dimension(180px, 40px);
      @include flex(start, center);
      box-sizing: border-box;
      padding-left: 20px;
      margin-bottom: 8px;
      cursor: pointer;
    }

    .menu-item-category.selected {
      background-color: $white;
    }

    .menu-item-category:hover:not(.selected) {
      background-color: $color75;
      transition: 0.2s;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .menu-item {
    flex-direction: column;

    .menu-item-categories-container {
      @include dimension(calc(100% - 18px), auto);
      @include flex();
      overflow-y: hidden;
      overflow-x: auto;
      margin-bottom: 0;

      .menu-item-category {
        font-size: 14px;
        width: auto;
        padding: 0 10px;
        margin-right: 10px;
      }
    }
  }
}

// new menus images fix

.menu-item .new-image-Distribution {
  padding-left: 0;
}

.menu-item .new-image-Availability {
  padding-left: 10px;
}