<div [ngClass]="sideBarClass">
  <div class="left-side"></div>
  <div class="right-side">

    <div class="side-menu-item click-able" (click)="openFavoriteModal()" title="Favorites">
      <img [src]="favoriteSrc()" height="24" width="22" #favoriteIcon/>
    </div>

    <!--Remove the div below once we start develop the secondary nav bar-->
    <div *ngIf="!showOnlyFavoriteIcon">
      <div class="side-menu-item click-able">
        <img src="assets/icons/images/ico_utilities_peq.png" height="24" width="23"/>
      </div>

      <div class="side-menu-item click-able">
        <img src="assets/icons/images/mensaje_peq.png" height="22" width="23"/>
      </div>

      <div class="side-menu-item click-able">
        <img src="assets/icons/images/ico_anouncements_peq.png" height="23" width="23"/>
      </div>

      <div class="side-menu-item click-able">
        <img src="assets/icons/images/ico_tools_peq.png" height="24" width="22"/>
      </div>

      <div class="side-menu-item click-able">
        <img src="assets/icons/images/ico_search_peq.png" height="24" width="22"/>
      </div>

      <div class="side-menu-item click-able">
        <img src="assets/icons/images/ico_help_peq.png" height="24" width="24"/>
      </div>
    </div>
  </div>
</div>
