@import "shared";

.select-regular-options {
  @include dimension(100%);
  background-color: white;
  padding-bottom: 5px;
  padding-top: 10px;

  .option-row {
    @include flex(null, center);
    margin-bottom: 15px;

    &:last-child{
      margin-bottom: 5px;
    }

    .option-text {
      width: 100%;

      label {
        @include text-style(16px, black);
        padding: 2px 10px 2px 10px;
        border-radius: 3px;
      }
    }
  }
}
