@import '../../scss/main';

.backgammon-container {
  .canvas-wrapper {
    @include dimension(684px, 575px);
    margin: 10px auto;
    :hover {
      cursor: grab;
    }

    :active {
      cursor: grabbing;
    }
  }
}

@keyframes animateText {
  0% {
    color: $malachite;
  }
  50% {
    color: $red;
  }
}
