<!--<div class="online-game-menu-container">-->
  <!--<div class="onlineMenu">-->
    <!--<div class="title">Select Player</div>-->
    <!--<select class="select-player" [(ngModel)]="selectedPlayer">-->
      <!--<option *ngFor="let player of (onlinePlayers$ | async)" [ngValue]="player">-->
        <!--<div> {{player.name}}</div>-->
      <!--</option>-->
    <!--</select>-->

    <!--<div class="online-game-operations">-->
      <!--<div class="invite"-->
           <!--(click)="sendInvitation()"-->
           <!--*ngIf="checkIfCanInvite(selectedPlayer)">-->
        <!--Invite-->
      <!--</div>-->
      <!--<div class="continue"-->
           <!--(click)="continue(selectedPlayer.name)"-->
           <!--*ngIf="checkIfOpenGameExists(selectedPlayer)">Continue-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="online-game-details scrollbar-style">-->
    <!--<div class="invitations-container">-->

      <!--<div *ngIf="localUser && localUser.invitations">-->
        <!--<div class="received-invitations" *ngIf="localUser.invitations.received">-->
          <!--<div class="list-title">Received Invitations:</div>-->
          <!--<div *ngFor="let receivedInvitation of localUser.invitations?.received | keys">-->
            <!--<div class="invitation">user: {{receivedInvitation}}-->
              <!--<span (click)="acceptInvitation(receivedInvitation)">accept</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="sent-invitations" *ngIf="localUser && localUser.invitations && localUser.invitations.sent">-->
          <!--<div class="list-title">Sent Invitations:</div>-->
          <!--<div *ngFor="let sentInvitation of localUser.invitations?.sent | keys">-->
            <!--<div class="invitation">user: {{sentInvitation}}</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="opened-games" *ngIf="openedGames && openedGames.length">-->
      <!--<span class="list-title">Opened Games:</span>-->
      <!--<div *ngFor="let game of openedGames">-->
        <!--<div class="opened-game-wrapper">-->
          <!--<div class="second-player-name">{{game?.secondPlayer.name | elipsis: 9}}</div>-->
          <!--<div (click)="continue(game?.secondPlayer.name)" class="continue">Continue</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
