<div class="popup-container" [ngClass]="data.type">

  <div class="title-and-content">
    <div class="title">{{data.title}}</div>
    <div class="content scrollbar-style" [innerHTML]="data.content"></div>
  </div>

  <div class="buttons-wrapper" *ngIf="!data.buttons">
    <div class="hb-button click-able" (click)="data.onDone()">Done</div>
    <div class="hb-button click-able" (click)="data.onCancel()">Cancel</div>
  </div>

  <div class="buttons-wrapper" *ngIf="data.buttons">
    <div *ngFor="let button of data.buttons" class="hb-button click-able" (click)="button.handler(closeModal)">
      {{button.text}}
    </div>
  </div>
</div>
