@import "shared";

.popup-container {
  @include dimension(350px, 400px);
  margin: 0 auto;
  border: 1px solid $tarawera;
  border-radius: 10px;
  background-color: $white;

  .title {
    @include dimension(100%, 60px);
    @include flex(center, center);
    @include text-style(22px, $emperor);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $tarawera;
  }

  .content {
    padding: 20px;
    overflow-y: auto;
    max-height: 220px;
  }

  .buttons-wrapper {
    @include flex(space-around, center);
    @include position(absolute, null, null, 0, null);
    @include dimension(100%, 65px);
    border-top: 1px solid $tarawera;
  }
}

.popup-container.message {
  .title {
    background-color: $gossip;
  }
}

.popup-container.error {
  .title {
    background-color: $sunsetOrange;
  }
}

.popup-container.warning {
  .title {
    background-color: $malibu;
  }
}
