$white: #ffffff;
$mercury: #e1e1e1;
$gallery: #ebebeb;
$botticelli: #c7e0e3;
$alabaster: #f7f7f7;
$concreteSolid: #f2f2f2;
$catskillWhite: #e2f0f2;
$hintOfRed: #fbfafb;
$clearDay: #FAFFFD;
$alto: #dfdfdf;
$athensGray: #efeff5;
$iceberg: #e0f3f5;
$silver: #c2c2c2;
$nobel: #b7b7b7;
$silverChalice: #acacac;
$manatee: #95959C;
$rollingStone: #757a83;
$doveGray: #6D6C6C;
$emperor: #4f4d4d;
$minehaft: #363636;
$codeGray: #161616;
$bondiBlue: #0a9bad;
$lochinvar: #2C808A;
$malibu: #7DC8F7;
$bittersweet: #ff6766;
$mandy: #E55958;
$roofTerracotta: #B33520;
$red: #FF0000;
$kimberly: #797ea8;
$kimberlyDark: #6a6f95;
$seagull: #75cbe8;
$bermuda: #80cdd6;
$downy: #78CAD3;
$portage: #77A2E9;
$cornflowerBlue: #6195ED;
$ABC: #688ae4;
$blueRibbon: #2244F5;
$electricViolet: #4F32FF;
$stTropaz: #2D569B;
$veniceBlue: #055989;
$cadetBlue: #A9B2C3;
$blueChill: #0a8999;
$blueLagoon: #037684;
$halfBaked: #81c4cc;
$gimblet: #bcae6b;
$arleyCorn: #a6995e;
$goldTips: #DBB910;
$candlelight: #f9d41b;
$portafino: #FFFFB2;
$conifer: #90EC42;
$mantis: #87ca4d;
$sushi: #76B63E;
$apple: #659938;
$oliveDrab: #619E2D;
$feijoa: #AED88A;
$malachite: #08D822;
$mountainMeadow: #22D470;

$white: #ffffff;
$black: #000000;
$blue: #0000FF;;
$red: #FF0000;

$color1: #c3c9d8;
$color2: #bfbbbb;
$color3: #c2cad7;
$color4: #055786;
$color5: #6f747e;
$color6: #407499;
$color7: #c2c4c5;
$color8: #148537;
$color9: #da3232;
$color10: #3a3a3a;
$color11: #868686;
$color12: #ccc;
$color13: #158638;
$color14: #ff4d4d;
$color15: #edf1f6;
$color16: #285A84;
$color17: #5380a5;
$color18: #d7e3eb;
$color19: #fcfcfc;
$color20: #055885;
$color21: #e0dede;
$color22: #F5F5F5;
$color23: #989898;
$color24: #f6f8fa;
$color25: #818181;
$color26: #7a7a7a;
$color27: #d2cece;
$color28: #fffcd9;
$color29: #148536;
$color30: #ff7f28;
$color31: #248ac2;
$color32: #4049cc;
$color33: #ffd794;
$color34: #77080c;
$color35: #679B12;
$color36: #E0F4FE;
$color37: #9ddcfb;
$color38: #c2c2c2;
$color39: #e9e7e8;
$color40: #888;
$color41: #555;
$color42: #fbfb8a;
$color43: #e44b4e;
$color44: #c1e9fe;
$color45: #d3d3d3;
$color46: #9e9c9d;
$color47: #d0eafc;
$color48: #d15855;
$color49: #eee;
$color50: #0188cc;
$color51: #0a7aba;
$color52: #F1F2F4;
$color53: #ddd;
$color54: #333;
$color55: #358efb;
$color56: #999;
$color57: #858999;
$color58: #266485;
$color59: #235d7c;
$color60: #557898;
$color61: #8c8c8c;
$color62: #639f63;
$color63: #ebebeb;
$color64: #c7e0e3;
$color65: #e2f0f2;
$color66: #fbfafb;
$color67: #dfdfdf;
$color68: #ACB2BF;
$color69: #acacac;
$color70: #95959C;
$color71: #757a83;
$color72: #161616;
$color73: #B33520;
$color74: #3F749D;
$color75: #CBDEEC;
$color76: #5E7C8C;
$color77: #1D5471;
$color78: #0B4260;
$color79: #bab8b8;
$color80: #a02525;
$color81: #c8c6c7;
$color82: #666666;
$color83: #444444;
$color84: #22303e;
$color85: #f0f0f0;
$color86: #e0e0e0;
$color87: #fef4e9;
$color88: #fd740f;
$color89: #ec8e00;
$color90: #c17400;
