.mat-tab-nav-bar {
  background-color: white;

  a {
    height: 80px;
    font-size: 25px;
    padding-top: 15px;
  }

  a:hover{
    transition: 0.5s;
    background-color: #8686e8;
  }

  img{
    width: 200px;
    float: right;
    margin-right: 200px;
  }
}

