@import '../../../assets/scss/main';
@import '../../../assets/scss/mixins';

.chat-adapter-container {
  margin: 10px auto;
  padding-left: 80px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .ks-chat-wrapper {
    margin-top: 20px;

    .ks-chat-container.button-view {
      display: flex;
      flex-direction: row-reverse;
      width: 530px;
      height: 277px;
    }
  }

  .chat-container{
    height: 275px !important;

    .messages-wrapper{
      height: 190px !important;
    }
  }
}
