@import '../../../assets/scss/main';

.ks-chat-container {
  position: relative;
  .mat-icon.clear {
    @include text-style(20px, $emperor);
    position: absolute;
    right: 2px;
    top: 3px;
    cursor: pointer;
  }

  .chat-button-wrapper {
    @include dimension(45px, 45px);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: $gallery;
    border: 1px solid $rollingStone;

    .chat-icon {

    }

    .unseen-messages {
      @include dimension(auto, 15px);
      @include text-style(12px, $white, Lato, $normalFontWeight);
      transition: 0.5s;
      min-width: 15px;
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      position: absolute;
      top: -1px;
      right: 1px;
      background-color: $bittersweet;
    }

    .unseen-messages.ten-or-more-unseen-messages::after {
      content: '+';
    }

    .ten-or-more-unseen-messages {
      right: -10px;
    }

    svg {
      path {
        fill: $rollingStone;
      }
    }
  }

  .chat-container {
    //@include dimension(0,0); for animation
    @include dimension(525px, 372px);

    overflow: hidden;
    display: flex;
    border-radius: 15px 15px 0 0;
    border: 1px solid $mercury;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.37);

    .chat-messages-board {
      @include dimension(200px, 275px);
      border-radius: 15px;
    }
  }

}

.ks-chat-container.button-view{
  .mat-icon.clear{
    display: none;
  }
}

.animate-chat {
  .button-wrapper {
    transition: linear 0.13s;
  }
  .chat-container {
    @include dimension(525px, 372px);
    transition: linear 0.2s;
  }
}
