@import "../../../../../style/shared";

.multi-select-colorful-options {
  padding: 10px 0;
  background-color: white;
  box-sizing: border-box;

  &.hidden-headers {
    padding: 5px 0;
    margin-top: 10px;
  }


  &.single-selected .select-item {
    cursor: default;
    .option-row, .checkbox-component.cursor-pointer, .check-mark, .check-mark::after, .option-text, label.click-able {
      cursor: default;
    }
    .click-able:hover {
      opacity: 1;
    }

    .check-mark {
      background-color: $color45;
    }
    .check-mark::after {
      width: 5px;
      height: 10px;
      position: absolute;
      top: 2px;
      left: 7px;
      content: "";
      border: solid $color46;
      border-width: 0 2.4px 2.4px 0;
      transform: rotate(45deg);
    }
  }

  .option-row {
    @include flex(null, center);
    white-space: nowrap;
    padding-left: 10px;
    margin-bottom: 12px;
    .option-text {
      label {
        @include text-style(13px, white);
        padding: 2px 10px 2px 0;
        border-radius: 3px;
      }
    }
    .all-option label {
      @include text-style(14px, black);
    }
    .option-checkbox {
      @include dimension(30px, 20px);
      margin-right: 7px;
      display: block;
      position: relative;

      input {
        @include dimension(20px, 20px);
        @include user-select(none);
        position: absolute;
        opacity: 0;
        z-index: 1;
      }
    }
  }
  .separator {
    @include dimension(100%, 1px);
    background-color: $color1;
    margin: 10px 0;
  }
}
