.image-gallery-container {
  $thumbnailWidth: 80px;
  $thumbnailHeight: 50px;
  $transition: 0.4s ease-out;

  position: relative;
  width: 100%;
  margin: 18px auto 0;
  overflow: hidden;
  z-index: 0;

  .expanded-image {
    width: 100%;
    background-color: gray;
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 450px;
    min-height: 300px;
    height: 24vw;

    .expanded-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transition: $transition;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .left-sign div, .right-sign div {
        opacity: 1;
      }
    }

    img {
      position: relative;
      width: auto;
      max-width: 100%;
      height: 100%;
    }

    .left-sign, .right-sign {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);
      user-select: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      font-family: Ionicons;
      width: 50px;
      height: 50px;
      color: white;
      position: absolute;
      top: 50%;
      cursor: pointer;
      transition: color .2s ease-out;
      z-index: 1;
      font-size: 28px;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;

      &:active {
        opacity: 0.8;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        user-select: none;
        text-align: center;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        top: 50%;
        opacity: 0;
        position: absolute;
        width: 50px;
        height: 50px;
        font-size: 26px;
        text-shadow: 0 2px 2px gray;

      }
    }

    .left-sign {
      left: 0;
      div {
        left: 5px;
      }
    }

    .right-sign {
      right: 0;
      div {
        right: 5px;
      }
    }
  }

  .slider-wrapper {
    height: 4vw;
    max-height: 80px;
    min-height: 60px;
    position: relative;
    overflow: visible;

    .slider {
      display: flex;
      position: absolute;
      transition: $transition;
      padding: 5px 10px 5px 5px;

      .img-wrapper {
        width: calc(10px + 3.5vw);
        height: 2vw;
        max-width: $thumbnailWidth;
        max-height: $thumbnailHeight;
        min-width: 60px;
        min-height: 30px;
        transition: $transition;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        padding: 0 3.5px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          transition: $transition;
          border: 4px solid transparent;
        }
      }

      .img-wrapper:first-child {
        margin-left: 0;
      }

      .img-wrapper:last-child {
        margin-right: 0;
      }

      .img-wrapper.selected-img img {
        border-color: blue;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.one-image-state {
    margin-bottom: 15px;

    .expanded-image {
      .left-sign, .right-sign {
        display: none;
      }
    }

    .slider-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .image-gallery-container {
    margin: 15px auto;

    .expanded-image {
      height: 50vw;
      min-height: 170px;

      .expanded-img-wrapper {
        height: 50vw;
        min-height: 170px;
        img {
          height: 50vw;
          min-height: 170px;
        }
      }

      .left-sign div, .right-sign div {
        opacity: 1;
      }
    }

    .slider-wrapper {
      display: none;
    }
  }
}
