@import '../../../../scss/main';

.advanced-component-container {
  @include dimension(118px, 48px);
  position: absolute;
  top: 0;

  background: $catskillWhite; /* fallback for old browsers */
  background: linear-gradient(to left, #FFFFFF, $catskillWhite);

  .title {
    @include text-style(16px, $ABC, Lato);
    width: 85px;
    margin: 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .details-btn {
    @include text-style(13px, $white, Lato);
    @include dimension(48px, 17px);
    margin-left: 8px;
    margin-top: 7px;
    border: 1px solid $silverChalice;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $malachite;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: $alto;
    }
  }
}
