@import '../../../../../assets/scss/main';

.time-slot-details-modal-container {
  .details-tooltip {
    .description {
      @include text-style(16px, $rollingStone, Lato);

      .desc-style {
        @include text-style(18px, $cornflowerBlue, Lato)
      }
    }

    .icon-wrapper {
      display: flex;
      justify-content: center;
      width: 400px;

      .mat-icon {
        font-size: 50px;
        margin-top: 30px;
        width: 50px;
        height: 50px;
      }
    }
  }
}

