<div class="time-slot-details-modal-container">

  <div class="details-tooltip">
    <div *ngIf="event | async; let event; else loading">
      <h2>{{event.title}}</h2>
      <div class="description">
        <span class="desc-style">description: </span> {{event.description}}</div>
      <div class="icon-wrapper">
      <mat-icon >{{event.icon}}</mat-icon>
    </div>
    </div>

    <ng-template #loading>
      <div class="">Loading Event Data...</div><br/>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>

  </div>

</div>
