<div class="contract-other-supplement-container page-section">
	<div class="title">
		<div class="display-hide-icon click-able" (click)="displayForm = !displayForm;"
		     [ngClass]="[displayForm ? 'hide' : 'collapse']">
			<app-svg-icon [svg]="SVG_ICONS.down_arrow_collapse"></app-svg-icon>
		</div>
		Other Supplements
	</div>

	<div class="contract-other-supplement-form" [ngClass]="{'close-section': !displayForm}">
		<app-guest-room-table
			[showDinnerOptions]="true"
			[guestRoomSrv]="contractOtherSupplementService"
			[getRowsFromContract]="getRowsFromContract">
		</app-guest-room-table>
	</div>
</div>
