@import '../../../../assets/scss/main';

$scheduler-width: 900px;
.scheduler-component {
  width: 1200px;
  overflow: hidden;
  display: flex;
  position: relative;
  padding-top: 60px;
  flex-direction: column;

  .scheduler-controls {
    display: flex;
    width: $scheduler-width;

    .change-week-section {
      display: flex;
      margin-right: 10px;
      width: 260px;

      .change-week-title {
        @include text-style(23px, $kimberlyDark, Lato, $normalFontWeight);
      }

      .change-week-arrows {
        position: relative;
        width: 30px;
        height: 30px;
        bottom: 4px;

        .arrow-right, .arrow-left {
          cursor: pointer;
          position: absolute;
        }
        .arrow-left {
          left: 20px;
        }
        .arrow-right {
          left: 60px;
        }
      }
    }

    .current-date-title {
      @include text-style(27px, $kimberlyDark, Lato, $normalFontWeight);
    }

    .mat-input-container {
      margin-left: 50px;
      bottom: 13px;
    }
  }

  .scheduler-wrapper {
    position: relative;
    width: $scheduler-width;
    height: 578px;
    overflow: hidden;

    .buttons-and-filters-wrapper {
      height: 50px;
      display: flex;
      flex-direction: row-reverse;

      .scheduler_cancel-btn {
        background-color: $hintOfRed;
        color: $bermuda;
        border: 1px solid $bermuda;
        margin-left: 8px;

        &:hover {
          opacity: 0.5;
          color: $bondiBlue;
        }
      }
    }

    .scheduler-header {
      background-color: $ABC;
      display: flex;
      align-items: center;
      width: $scheduler-width;
      height: 38px;
      padding-left: 45px;
      box-sizing: border-box;
      border-radius: 10px 10px 0 0;

      .scheduler-header-column {
        flex-grow: 0;
        flex-shrink: 0;
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }

    .scheduler-content {
      display: flex;
      width: calc(3 * 886px);
      height: 400px;
      background-color: $white;

      .scheduler-hours-wrapper {
        .scheduler-hours {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid $alto;
          box-sizing: border-box;
          background-color: white;

          .hour {
            padding-top: 2px;
            height: 47.95px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $silverChalice;
            flex: 1;
            border-left: 1px solid $alabaster;;
          }
        }
      }

      .scheduler-cells-wrapper {
        overflow-x: hidden;
        overflow-y: scroll;
        width: $scheduler-width;
        padding-bottom: 50px;

        .scheduler-container-flex {
          width: 5000px;
          display: flex;
          position: relative;
          .scheduler-weeks-container {
            display: flex;
            padding-bottom: 40px;
            position: absolute;
            transform: translate3d(0, 0, 0);
            width: $scheduler-width;
          }
        }
      }
    }

    .scheduler-footer {
      background-color: $alabaster;
      border-radius: 0 0 15px 15px;
      width: $scheduler-width;
      height: 18px;
    }
  }
}
