@import '../../scss/main';

.selected-range{
  @include dimension(200px, auto);
  @include text-style(20px, $minehaft);
  margin: 50px auto 40px auto;

  div{
    margin-bottom: 10px;
  }
}

.multi-date-picker-wrapper{
  app-multi-date-picker{
    width: 700px;
    display: block;
    margin: 0 auto;
  }
}

