@import "shared";

.auto-suggest-result-container {
  border-radius: 3px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  z-index: 20;
  border: 1px solid #c3c9d8;
  position: absolute;
  background-color: #fcfcfc;
  overflow: visible;
  box-sizing: border-box;

  .round-search-icon {
    @include position(absolute, -26px, 17px);

    svg {
      @include dimension(15px, 15px);
    }
  }

  .item-result {
    min-width: auto;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 10px;

    .item-value {
      width: 95%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .item-result.selected {
    background-color: #c1e9fe;
  }

  .item-result:hover {
    background-color: #c1e9fe;
  }
}

.modal-container.auto-suggest-results {
  .modal-overlay {
    background-color: transparent;
  }

  .component-wrapper {
    background-color: white;
    transform: none;
  }
}
