@import './mixins';
@import './colors';
@import 'variables';

.main-layout{
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.27);
  padding: 10px;
}

.input-group{
  display: flex;
  align-items: center;
  margin: {
    top: 10px;
    bottom: 10px;
    left: 10px;
  }

  label{
    width: 95px;
    text-align: right;
    margin-right: 33px;
  }

}


