<div class="loader-component" [ngClass]="loaderClass">

  <div class="rectangle-loader">
    <div class="rect rect1"></div>
    <div class="rect rect2"></div>
    <div class="rect rect3"></div>
    <div class="rect rect4"></div>
    <div class="rect rect5"></div>
    <div class="rect rect6"></div>
  </div>

  <div class="circle-loader">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>

  <div class="loading_text">{{text}}</div>
</div>
