<div class="backgammon-container">

  <div class="play-online" *ngIf="showOnlineOption" (click)="playOnlineOrLocal()">
    {{onlineOrLocalText[currentViewState]}}
  </div>

  <div class="online-container" [ngClass]="currentViewState">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">

      <div [ngClass]="{ 'sign-in':currentViewState===onlineViewStates.signIn,
                        'register':currentViewState===onlineViewStates.register}">
        <div class="title">{{currentViewState===onlineViewStates.register ? 'Register': 'Sign In'}}</div>
        <div class="input-wrapper">
          <div class="label">Name:</div>
          <input type="text" formControlName="name">
        </div>
        <div class="form-error">{{formErrorMessages['name']}}</div>

        <div class="input-wrapper">
          <div class="label">Password:</div>
          <input type="text" formControlName="password">
        </div>
        <div class="form-error">{{formErrorMessages['password']}}</div>
        <div class="sign-in-register-toggle"
             (click)="toggleSignInRegister()">
          {{currentViewState===onlineViewStates.signIn ? 'Register': 'Sign In'}}
        </div>
      </div>

      <div class="second-player">
        <div class="title">Select Player</div>
        <div></div>
      </div>

      <button class="submit" type="submit" [disabled]="!formGroup.valid">{{submitButtonsText[currentViewState]}}
      </button>

    </form>
  </div>

  <div class="canvas-wrapper" [hidden]="!showCanvas">
    <canvas #canvas width="684" height="575"></canvas>
  </div>
</div>
