<div class="contract-pat-stay-container page-section">
	<div class="title">
		<div class="display-hide-icon click-able" (click)="displayForm = !displayForm;"
				 [ngClass]="[displayForm ? 'hide' : 'collapse']">
			<app-svg-icon [svg]="SVG_ICONS.down_arrow_collapse"></app-svg-icon>
		</div>
		Section 19
	</div>
	<div class="contract-pay-stay-form" *ngIf="displayForm">
		<div class="hb-table">
			<div class="hb-table-row">
				<div class="hb-table-header hb-table-column take-left" *ngFor="let header of  tableHeader">
					{{header}}
					<app-svg-icon *ngIf="header === 'NRF'"
												class="cursor-pointer nrf-tooltip"
												app-tooltip
												[tooltipTitle]="'Non Refundable'"
												[svg]="SVG_ICONS.info"></app-svg-icon>
				</div>
			</div>
			<div class="row-wrapper" *ngFor="let row of  contractPayStayService.tableRows; let index = index;">
				<div class="hb-table-row take-left"
						 [ngClass]="{'specific-dates': row.type === 'SD'}">
					<app-select-input class="discount-type"
														(onSelectItem)="onSelectItem($event, index, 'type')"
														[selectList]="row.periodTypeOptions">
					</app-select-input>

					<app-input-with-error
						(inputValueChange)="payStayHandler()"
						[(inputValue)]="row.payNights"
						[cssClasses]="['fix-contract-input-focus']"
						[required]="true"
						[preventValues]="numberOnly"
						[preventPaste]="true">
					</app-input-with-error>

					<app-input-with-error
						(inputValueChange)="payStayHandler()"
						[(inputValue)]="row.stayNights"
						[cssClasses]="['fix-contract-input-focus']"
						[required]="true"
						[preventValues]="numberOnly"
						[preventPaste]="true">
					</app-input-with-error>

					<app-select-input class="nrf take-left"
														(onSelectItem)="onSelectItem($event, index, 'nrf')"
														[selectList]="row.nrfOptions">
					</app-select-input>

					<div class="hb-table-column click-able delete-row" (click)="deleteRow(index)">
						<app-svg-icon class="bin-icon" [svg]="SVG_ICONS.bin" title="Delete row"></app-svg-icon>
					</div>
				</div>

				<app-booking-travel-dates
					*ngIf="row.type === 'SD'"
					[bookingDate]="row.bookingWindow"
					[travelDate]="row.travelWindow"
					(bookingDateSelected)="commonOneContractService.onSelectBookingOrTravelDate($event, index, this.contractPayStayService.tableRows, 'bookingWindow')"
					(travelDateSelected)="commonOneContractService.onSelectBookingOrTravelDate($event, index, this.contractPayStayService.tableRows, 'travelWindow')">
				</app-booking-travel-dates>
			</div>

			<div class="add-row click-able"
					 [ngClass]="[isAddRowDisabled()? 'disabled' : '']"
					 (click)="addRow()"
					 title="Add row">
				<app-svg-icon [svg]="SVG_ICONS.plus"></app-svg-icon>
			</div>
		</div>
	</div>
</div>
