@import '../../../../assets/scss/main';

.time-slot-wrapper {
  height: 50px;
  width: 120px;
  border: 1px solid $alto;
  box-sizing: border-box;
  transition: 0.5s;
  position: relative;
}

.time-slot-wrapper.empty-slot {
  background-color: $white;
}

.time-slot-wrapper.unavailable-slot {
  background-color: $gallery;
}

.time-slot-wrapper.disable-time-slot {
  opacity: 0.6;
}

.un-schedule-btn {
  position: absolute;
  right: 1px;
  top: -1px;
  cursor: pointer;
  z-index: 5;

  &:hover{
    opacity: 0.8;
    color: #77A2E9;
  }

  .mat-icon{
    font-size: 13px;
    width: 16px;
    height: 16px;
  }
}

.time-slot-wrapper {
  .available-time-slot {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: $white;
  }

  .unavailable{
    @include text-style(15px, $kimberlyDark, Lato, $normalFontWeight);
    position: relative;
    top: 15px;
    left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 110px;
  }

  .schedule {
    position: relative;
    .text {
      @include text-style(15px, $kimberlyDark, Lato, $normalFontWeight);
      position: relative;
      top: 15px;
      left: 5px;
    }

    .time-slot-data-tooltip {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 25px;
      padding: 0 10px;
      width: auto;
      min-width: 90px;
      height: 50px;
      background-color: white;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
      z-index: 100;
      transition: 0.2s;
    }

    .time-slot-data-tooltip.hide-tooltip{
      display: none;
    }
  }

  .text:hover {
    .time-slot-data-tooltip:not(.hide-tooltip) {
      display: flex;
    }
  }

  .available-time-slot:hover {
    transition: ease-out 100ms;
    background-color: rgba($bondiBlue, 0.12);
    border: dashed 2px $bondiBlue;
  }

  .schedule-data {
    @include text-style(15px, $kimberlyDark, Lato, $normalFontWeight);
    background-color: $clearDay;
    height: 50px;
  }

  .custom-time-slot{
    position: relative;
    padding-top: 8px;
  }
}
