<div class="time-slot-wrapper"
     [ngClass]="[timeSlotData.dynamicDefaultView.timeSlotClass, timeSlotData.classToAdd ? timeSlotData.classToAdd : '']">


  <div *ngIf="timeSlotData.metaData.view" [@flyInOut]="'in'">
    <div [ngSwitch]="timeSlotData.metaData.view">

      <div *ngSwitchCase="TIME_SLOT_VIEWS.AVAILABLE_TIME_SLOT_VIEW"
           class="available-time-slot"
           (click)="availableSlotClick()">
      </div>

      <div  class="unavailable" *ngSwitchCase="TIME_SLOT_VIEWS.UNAVAILABLE_TIME_SLOT_VIEW">
        {{timeSlotData.data.textToShow}}
      </div>

      <div *ngSwitchCase="TIME_SLOT_VIEWS.SCHEDULE" class="schedule">
        <div class="un-schedule-btn" (click)="deleteItem()">x</div>

        <div class="text">{{timeSlotData.data | elipsis:13 }}
          <div [ngClass]="{'hide-tooltip': timeSlotData.data.length < 13}" class="time-slot-data-tooltip">
            {{timeSlotData.data }}
          </div>
        </div>
      </div>

      <div *ngSwitchCase="TIME_SLOTS_TYPES.CUSTOM" class="schedule">
        <div>{{compile(timeSlotData)}}</div>
      </div>

    </div>
  </div>
</div>


