@import "~shared-ui-components-lib/style/shared";

.contract-min-stay {
	position: relative;
	z-index: 10;
	.contract-min-stay-form {
		.season-row {
			max-width: 738px;
			min-width: 738px;
		}

		.hb-table {
			position: relative;
			width: fit-content;
			z-index: 2;
			margin-bottom: 10px;

			.hb-table-column:not(:last-child) {
				border-right: 0;
			}

			.hb-table-row {

				.select-input {
					border-right: 0;

				}
				app-select-input:nth-child(1) .select-input {
					width: 200px;
				}

				.hb-table-column:nth-child(1) {
					width: 200px;
				}

				app-select-input:nth-child(2) .select-input, app-select-input:nth-child(3) .select-input {
					width: 260px;
				}

				.hb-table-column:nth-child(2), .hb-table-column:nth-child(3) {
					width: 260px;
					flex-grow: 1;
				}

				.hb-table-column:nth-child(4) {
					width: 40px;
				}

				.nights-field {
					width: 260px;
				}
			}

			.nights-field, .season-nights {
				position: relative;
				@include flex();

				.svg-moon {
					@include position(absolute, 10px, 7px);
				}

				.nights-input {
					@include text-overflow-ellipsis();
					padding: 0 40px 0 9px;
				}
			}
		}
	}
}