@import '../../../../assets/scss/main';

$calendar-width: 900px;
.calendar-component {
  width: 1200px;
  overflow: hidden;
  display: flex;
  position: relative;
  padding-top: 60px;
  flex-direction: column;

  .calendar-controls {
    display: flex;
    width: $calendar-width;
    padding-bottom: 20px;

    .change-week-section {
      display: flex;
      margin-right: 10px;
      width: 260px;

      .change-week-title {
        @include text-style(23px, $kimberlyDark, Lato, $normalFontWeight);
      }

      .change-week-arrows {
        position: relative;
        width: 30px;
        height: 30px;
        bottom: 4px;

        .arrow-right, .arrow-left {
          cursor: pointer;
          position: absolute;
        }
        .arrow-left {
          left: 20px;
        }
        .arrow-right {
          left: 60px;
        }
      }
    }

    .current-date-title {
      @include text-style(27px, $kimberlyDark, Lato, $normalFontWeight);
    }

  }

  .calendar-wrapper {
    position: relative; // todo - for test (schedule, reset buttons)
    width: $calendar-width;
    height: 578px;
    overflow: hidden;

    .buttons-and-filters-wrapper {
      height: 50px;
      display: flex;
      flex-direction: row-reverse;

      .calendar_cancel-btn {
        background-color: $hintOfRed;
        color: $bermuda;
        border: 1px solid $bermuda;
        margin-left: 8px;

        &:hover {
          opacity: 0.5;
          color: $bondiBlue;
        }
      }
    }

    .calendar-header {
      background-color: $ABC;
      display: flex;
      align-items: center;
      width: $calendar-width;
      height: 38px;
      padding-left: 45px;
      box-sizing: border-box;
      border-radius: 10px 10px 0 0;

      .calendar-header-column {
        flex-grow: 0;
        flex-shrink: 0;
        width: 120px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: 3s;
      }
    }

    .calendar-content {
      display: flex;
      width: calc(3 * 886px);
      height: 400px;
      background-color: $white;

      .calendar-hours-wrapper { // without ks-calendar-hours-wrapper the ks-calendar-hours won't grow because the parent has fixed height + overflow scroll
        .calendar-hours {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid $alto;
          box-sizing: border-box;
          background-color: white;

          .hour {
            padding-top: 2px;
            height: 47.95px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $silverChalice;
            flex: 1;
            border-left: 1px solid $alabaster;;
          }
        }
      }

      .calendar-cells-wrapper {
        overflow-x: hidden;
        overflow-y: scroll;
        width: $calendar-width;

        .calendar-container-flex {
          width: 5000px;
          display: flex;
          position: relative;
          .calendar-weeks-container {
            display: flex;
            height: 400px;
            width: $calendar-width;
            position: absolute;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }

    .calendar-footer {
      background-color: $alabaster;
      border-radius: 0 0 15px 15px;
      width: $calendar-width;
      height: 18px;
    }
  }
}
