<nav class="main-header" [ngClass]="mainHeaderView" >

  <div class="main-header-left-section" #mainHeaderLeftElement>
    <div class="logo"><img [src]="commonService.getImageIcon('atlas_logo-icon.png')"></div>

    <div class="header-tabs-wrapper" #headerButtonsWrapperElement>

      <div *ngFor="let headerTab of headerTabs"
           (click)="onHeaderTabClick(headerTabElement, headerTab)"
           #headerTabElement
           class="cursor-pointer header-button"
           [ngClass]="{'selected-tab': selectedMenu === headerTab}">
        <div class="header-tab-name">{{headerTab.name}}</div>
        <div class="header-tab-icon" [title]="headerTab.name"><img
          [src]="headerTab.icon === null && headerTab.name === 'Trash-Quarentine' ? commonService.getImageIcon('trash_quarantine-icon.png') :commonService.getImageIcon(headerTab.icon)">
        </div>
      </div>

      <div class="header-button last-right-border"></div>

      <app-menu-item *ngIf="isMenuItemOpen"
                     [headerTabElement]="selectedHeaderTabElement"
                     [mainHeaderElement]="headerButtonsWrapperElement"
                     [headerTabData]="selectedHeaderTab">
      </app-menu-item>

    </div>
  </div>

  <div class="main-header-right-section" *ngIf="userDetails">
    <div class="office-data" *ngIf="showOfficeData()">
      <div class="current-office">Current Office: {{userDetails.officeNumber}}, Division: {{userDetails.division}}</div>
      <div class="current-office mobile-and-tablet-only"
           title="Current Office: {{userDetails.officeNumber}}, Division: {{userDetails.division}}">Current Office:
        {{userDetails.officeNumber}}, Division: {{userDetails.division}}
      </div>
      <div class="user-ip"> {{userDetails.ip}}</div>
    </div>

    <div class="user" *ngIf="userDetails">
      <img class="user-img" [src]="commonService.getImageIcon('icono_no-registrado1.png')">
      <div class="user-data">
        <div class="user-name-and-logout">
          <div class="firstname-and-lastname">{{userDetails.username}}</div>
          <img class="click-able logout-icon" [src]="commonService.getImageIcon('logout-icon.png')" (click)="logoutClick()">
        </div>

        <div class="datetime-text" #currentDate></div>
      </div>
    </div>

  </div>
  <div class="main-header-right-section mobile-and-tablet-only" #mainHeaderMobileRightSection
       *ngIf="authService.isAuthenticated" (click)="openUserMenu()">
    <img [src]= "commonService.getImageIcon('more_details.png')" class="click-able"/>
    <div class="menu-user-section" *ngIf="displayUserMenu">
      <div class="menu-user-content">
        <div class="right-menu">
          <div class="user">
            <p>{{userDetails.username}} <img class="click-able logout-icon"
                                      [src]="commonService.getImageIcon('logout_black.png')" (click)="logoutClick()"></p>
            <p class="current-date-mobile" #currentDateMobile></p>
          </div>
          <div class="user-img-data">
            <img class="user-img" [src]="commonService.getImageIcon('icono_no-registrado1.png')">
          </div>
          <div class="office-data">
            Current Office: {{userDetails.officeNumber}}, Division: {{userDetails.division}}
            <br/>
            {{userDetails.ip}}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

