@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../src/app/scss/colors';

html {
  height: 100%;
}

body {
  background: #CAC848;
  margin: 0;
}

.arrow-right, .arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.arrow-right:hover, .arrow-left:hover {
  opacity: 0.9;
}

.arrow-right:active {
  border-left-color: #767676;
}

.arrow-left:active {
  border-right-color: #767676;

}

.arrow-right {
  border-left: 30px solid #B7B7B7;

}

.arrow-left {
  border-right: 30px solid #B7B7B7;
}

.cdk-overlay-container .cdk-overlay-pane { //material fix - 250px hardcoded
  width: auto !important;
}

.error-modal .mat-dialog-container {
  padding: 0;
}
