@import '../../scss/main';

.image-expander-adapter-container {
  margin-top: 80px;
  .expand-button-wrapper {
    @include dimension(150px, 50px);
    margin: 0 auto;

    .expand-button {
      @include text-style(18px, $white, Lato);
      background-color: $electricViolet;
      text-align: center;
    }
  }
  .content {
    margin: 0 auto;
    padding: 0 50px;
  }
}
