@import '../scss/main';

.home-component{
  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 43px;
    top: 80px;
    width: 100px;
    align-items: center;

    .play-online, .logout, .menu, .play-local, .vs-computer {
      @include dimension(65px, 65px);
      @include text-style(19px, $malachite);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background-color: $hintOfRed;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        opacity: 0.8;
      }
    }

    .vs-computer {
      @include dimension(120px, 55px);
      border-radius: 30px;
    }
  }

}
