<div class="home-component">

  <div class="buttons-wrapper">
    <div class="vs-computer" *ngIf="displayButtonHandler(buttonsNames.computer)" (click)="playAgainstComputer()">
      Vs Computer
    </div>

    <div class="play-online" *ngIf="displayButtonHandler(buttonsNames.playOnline)" (click)="playOnline()">Online</div>

    <div class="play-local" *ngIf="displayButtonHandler(buttonsNames.playLocal)" (click)="playLocal()">Local</div>

    <div class="logout" *ngIf="displayButtonHandler(buttonsNames.logout)" (click)="logOut()">Logout</div>

    <div class="menu" *ngIf="displayButtonHandler(buttonsNames.menu)" (click)="goToMenu()">Menu</div>
  </div>

  <app-backgammon></app-backgammon>
</div>
