@import "shared";

:host {
  margin-top: 20px;
}

.multiple-select-result {
  margin-top: 15px;
  padding-bottom: 5px;

  .option-row {
    @include flex(null, center);
    padding-left: 10px;
    margin-bottom: 10px;

    .option-text {
      label {
        @include text-style(13px, white);
        padding: 2px 10px 2px 10px;
        border-radius: 3px;
      }
    }

    .all-option label {
      @include text-style(14px, black);
    }

    .option-checkbox {
      @include dimension(30px, 20px);
      margin-right: 7px;
      display: block;
      position: relative;

      input {
        @include dimension(20px, 20px);
        @include user-select(none);
        position: absolute;
        opacity: 0;
        z-index: 1;
      }
    }
  }

  .separator {
    @include dimension(100%, 1px);
    background-color: #c3c9d8;
    margin: 10px 0;
  }
}
