<div class="multiple-select-result">
  <div class="option-row">

    <app-checkbox id="all" [item]="allOptionItem" (onChecked)="selectAll()"></app-checkbox>

    <div class="cursor-pointer">
      <label (click)="selectAll()" class="cursor-pointer">All</label>
    </div>
  </div>

  <div class="separator"></div>

  <div class="option-row" *ngFor="let selectItem of selectList; let index = index" [ngClass]="selectItem.cssClass">

    <app-checkbox [id]="selectItem.text" [item]="selectItem" (onChecked)="checkboxChecked(index)"></app-checkbox>

    <div class="option-text">
      <label class="click-able" (click)="checkboxChecked(index)">{{selectItem.text}}</label>
    </div>

  </div>
</div>
